# Ignorar archivos y carpetas generados por Gradle
.gradle/
build/

# Ignorar todos los .jar excepto gradle-wrapper.jar*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.class

# Ignorar archivos de configuración del IDE
.idea/
*.iml

# Ignorar archivos de registro
*.log
# Ignorar la carpeta de persistencia de datos
/data
